<!-- <a target="_blank" [href]="href" role="link"
  class="inline-flex bg-gray-100 text-gray-800 border-gray-300
         items-center justify-center gap-2 px-3 py-2 space-x-2 text-base
         transition dark:text-white dark:bg-gray-800 border
         dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md
         hover:bg-gray-800 hover:border-gray-900 group max-w-fit
         rounded-xl hover:text-white focus:outline-none
         focus-visible:outline-none focus-visible:ring
         focus-visible:ring-white focus-visible:ring-offset-2
         active:bg-black">
  {{ text }}
</a> -->


<a [href]="href" target="_blank"
   class="group relative inline-flex items-center justify-center gap-2
          bg-gradient-to-b from-orange-700 to-red-800 text-md
          py-2 px-4 overflow-hidden transition-all
          duration-300 hover:text-orange-600">
  <span class="absolute inset-0 bg-white transform scale-y-0
               group-hover:scale-y-100 transition-transform duration-300
               origin-bottom">
  </span>
  <span class="relative inline-flex items-center gap-2">
    <app-svg-icon [svgContent]="icon" [size]="{ width: 24, height: 24 }">
    </app-svg-icon>
    {{text}}
  </span>
</a>
