nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes nav-shadown {
  0% {
    @apply bg-primary
  }
  to {
    @apply shadow-lg backdrop-blur ring-white/10
  }
}

