<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3">
  <app-svg-icon [svgContent]="iconSkill" [size]="{ width: 24, height: 24 }">
  </app-svg-icon>
  Habilidades
</h2>

<div class="grid grid-cols-2 sm:grid-cols-3 gap-6 roboto-serif">
  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-yellow-500 text-white shadow-md">
    <app-svg-java-script [size]="{ width: 24, height: 24 }"></app-svg-java-script>
    <span class="font-semibold">JavaScript</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-blue-500 text-white shadow-md">
    <app-svg-type-script [size]="{ width: 24, height: 24 }"></app-svg-type-script>
    <span class="font-semibold">TypeScript</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-red-900 text-white shadow-md">
    <app-svg-angular [size]="{ width: 24, height: 24 }"></app-svg-angular>
    <span class="font-semibold">Angular</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-emerald-900 text-white shadow-md">
    <app-svg-tailwind [size]="{ width: 24, height: 24 }"></app-svg-tailwind>
    <span class="font-semibold">Tailwind</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-purple-900 text-white shadow-md">
    <app-svg-bootstrap [size]="{ width: 24, height: 24 }"></app-svg-bootstrap>
    <span class="font-semibold">Bootstrap</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-pink-700 text-white shadow-md">
    <app-svg-sass [size]="{ width: 24, height: 24 }"></app-svg-sass>
    <span class="font-semibold">Sass</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
         from-slate-950 to-pink-600 text-white shadow-md">
    <app-svg-rxjs [size]="{ width: 24, height: 24 }"></app-svg-rxjs>
    <span class="font-semibold">RxJS</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
                from-slate-950 to-red-500 text-white shadow-md">
    <app-svg-npm [size]="{ width: 24, height: 24 }"></app-svg-npm>
    <span class="font-semibold">NPM</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
                from-slate-950 to-fuchsia-900 text-white shadow-md">
    <app-svg-jasmine [size]="{ width: 24, height: 24 }"></app-svg-jasmine>
    <span class="font-semibold">Jasmine</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-green-500 text-white shadow-md">
    <app-svg-python [size]="{ width: 24, height: 24 }"></app-svg-python>
    <span class="font-semibold">Python</span>
  </div>
  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-green-800 text-white shadow-md">
    <app-svg-django [size]="{ width: 24, height: 24 }"></app-svg-django>
    <span class="font-semibold">Django</span>
  </div>
  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-blue-500 text-white shadow-md">
    <app-svg-docker [size]="{ width: 24, height: 24 }"></app-svg-docker>
    <span class="font-semibold">Docker</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-sky-600 text-white shadow-md">
    <app-svg-postgresql [size]="{ width: 24, height: 24 }"></app-svg-postgresql>
    <span class="font-semibold">PostgresSQL</span>
  </div>
  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-indigo-500 text-white shadow-md">
    <app-svg-mysql [size]="{ width: 24, height: 24 }"></app-svg-mysql>
    <span class="font-semibold">MySQL</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-red-300 text-white shadow-md">
    <app-svg-microsoftsqlserver [size]="{ width: 24, height: 24 }"></app-svg-microsoftsqlserver>
    <span class="font-semibold">Microsoft SQL Server</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-orange-500 text-white shadow-md">
    <app-svg-git [size]="{ width: 24, height: 24 }"></app-svg-git>
    <span class="font-semibold">Git</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-orange-800 text-white shadow-md">
    <app-svg-git-lab [size]="{ width: 24, height: 24 }"></app-svg-git-lab>
    <span class="font-semibold">GitLab</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-slate-500 text-white shadow-md">
    <app-svg-github [size]="{ width: 24, height: 24 }"></app-svg-github>
    <span class="font-semibold">Github</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-slate-300 text-white shadow-md">
    <app-svg-notion [size]="{ width: 24, height: 24 }"></app-svg-notion>
    <span class="font-semibold">Notion</span>
  </div>

  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-orange-400 text-white shadow-md">
    <app-svg-postman [size]="{ width: 24, height: 24 }"></app-svg-postman>
    <span class="font-semibold">Postman</span>
  </div>
  <div class="flex items-center space-x-3 p-3 rounded-lg bg-gradient-to-r
            from-slate-950 to-lime-500 text-white shadow-md">
    <app-svg-swagger [size]="{ width: 24, height: 24 }"></app-svg-swagger>
    <span class="font-semibold">Swagger</span>
  </div>
</div>
