<app-header></app-header>
<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full gradient"></div>
<main class="px-4">
  <div class="py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl
              md:max-w-2xl">
    <div class="max-w-xl">
      <div class="flex mb-4 gap-4">
        <img class="rounded-full size-16 shadow-lg"
             src="https://avatars.githubusercontent.com/u/93449725?v=4"
             alt="Ezequiel Chorolque">
        <a href="https://www.linkedin.com/in/chorolque-ezequiel/"
           class="flex items-center transition md:justify-center
                  md:hover:scale-105" target="_blank">
           <app-badge text='Disponible para trabajar'></app-badge>
        </a>

      </div>
      <h1 class="text-4xl font-bold tracking-tight sm:text-5xl
                 roboto-serif">Hola, soy Ezequiel Chorolque
      </h1>
      <p class="mt-6 text-xl [&>strong]:text-orange-400
               [&>strong]:font-semiboldtext-gray-300 roboto-serif">+4 años de
               experiencia.
        <strong>Ingeniero en Informatica y Desarrollador Angular</strong> de
        Jujuy, Argentina 🇦🇷. Especializado en el desarrollo de aplicaciones web.
      </p>
      <nav class="flex flex-wrap gap-4 mt-8">
        <app-link-button href="mailto:ezequielchorolque14@gmail.com"
                         [text]="'Contáctame'" [icon]="iconContact"
                         target="_blank">
        </app-link-button>
        <app-link-button href="https://www.linkedin.com/in/chorolque-ezequiel/"
                         [text]="'LinkedIn'" [icon]="iconLinkedin"
                         target="_blank">
        </app-link-button>
      </nav>
    </div>
  </div>
  <div class="space-y-24">
    <section id="experience" #section
      class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl
             md:max-w-2xl">
      <app-experience></app-experience>
    </section>
    <section id="projects" #section
      class="section opacity-0 translate-y-10 transition-all duration-700 ease-in-out scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
    appIntersectionObserver>
      <app-projects></app-projects>
    </section>
    <section id="skills" #section
      class="section opacity-0 translate-y-10 transition-all duration-700 ease-in-out scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
    appIntersectionObserver>
      <app-skills></app-skills>
    </section>
    <section id="about" #section
      class="section opacity-0 translate-y-10 transition-all duration-700 ease-in-out scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
    appIntersectionObserver>
      <app-about></app-about>
    </section>
  </div>
</main>
<app-footer class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto
                   container lg:max-w-4xl md:max-w-2xl mb-10 flex
                   justify-center">
</app-footer>
