<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white/80">
  <app-svg-icon [svgContent]="iconExperience" [size]="{ width: 24, height: 24 }">
  </app-svg-icon> Experiencia laboral
</h2>
<ol class="relative border-l border-gray-700">
  @for (item of experiences; track item)
  {
  <li class="mb-10 grid grid-cols-1 sm:grid-cols-3 gap-4 ms-4">
    <div>
      <div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border
                border-orange-500 bg-orange-500">
      </div>
      <time class="block mb-1 text-sm font-normal leading-none roboto-serif">
            {{ item.period }}
      </time>
      <h3 class="text-lg font-semibold text-orange-500 roboto-serif">
        {{ item.role }}
      </h3>
      <a href="{{ item.link }}" target="_blank"
         class="text-orange-400 hover:underline text-base font-medium">
        {{ item.company }}
      </a>
    </div>
    <span class="sm:col-span-2 mt-1 font-normal roboto-serif">
      <ul class="list-disc list-inside custom-list">
        @for (desc of item.description; track desc)
        {
          <li>{{ desc }}</li>
        }
      </ul>
    </span>
  </li>
  }
</ol>
