<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 undefined">
  <app-svg-icon [svgContent]="iconAbout" [size]="{ width: 24, height: 24 }">
  </app-svg-icon>
  Sobre mí
</h2>
<article class="flex flex-col items-center justify-center gap-8 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-orange-400 font-normal order-2
                md:order-1 roboto-serif">
    <p>Como Ingeniero en Informática, me especializo en el desarrollo de
      <strong>aplicaciones web</strong>, con más de
      <strong>4 años de experiencia</strong> trabajando en
      <strong>equipos multidisciplinarios</strong> y proyectos que abarcan desde
      sistemas institucionales hasta plataformas empresariales.
    </p>
    <p>En mi carrera, he desarrollado <strong>habilidades claves en tecnologías
      </strong> y metodologías ágiles. Lo que más me motiva es <strong>
        diseñar soluciones eficientes</strong> que no solo cumplan con los
      objetivos del proyecto, sino que también<strong> mejoren la experiencia de
        los usuarios finales</strong>.
    </p>
    <p><strong>Defensor de la colaboración</strong>, el aprendizaje
      continuo y la implementación de <strong>buenas prácticas</strong> en cada
      etapa del desarrollo. Mi compromiso con la calidad y la innovación ha
      contribuido a la <strong>optimización de procesos internos</strong> y la
      <strong>mejora de productos digitales</strong> que impactan positivamente
      en el día a día de las personas. Estoy <strong>abierto a explorar nuevos
        desafíos</strong> que me permitan seguir creciendo y aportar valor a
      equipos y proyectos tecnológicos.
    </p>
  </div>
  <img src="../../../assets/img/perfil/about.webp" alt="Ezequiel Chorolque"
       class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64
              aspect-square rounded-full bg-black/20 ring-1 ring-black/70
              dark:ring-white/20 rotate-[-30deg]">
</article>
